$widthSite: 1140px;
$colorSelectSite: #f16d7f;
$blackBackgroundFontColor: #fbfbfb;
$backBlock: #222;
$colorText: #000;
$gapGrid: 30px;
$cardWidth: calc(($widthSite - $gapGrid * 2) / 3);
$widthBurgerMenu: 232px;
